plotter:
  # Publish all joint states -----------------------------------
  joint_state_controller:
    type: joint_state_controller/JointStateController
    publish_rate: 50  
  
  # Position Controllers ---------------------------------------
  l1__l2_jt_pos_controller:
    type: effort_controllers/JointPositionController
    joint: link_01__link_02
    pid: {p: 100.0, i: 1, d: 1} 
  l2__l3_jt_pos_controller:
    type: effort_controllers/JointPositionController
    joint: link_02__link_03
    pid: {p: 100.0, i: 1, d: 1}
