plotter:
    joint_state_controller:
        type: joint_state_controller/JointStateController
        publish_rate: 50
        
    arm_controller:
      type: position_controllers/JointTrajectoryController
      joints:
         - link_01__link_02
         - link_02__link_03
    
      constraints:
          goal_time: 0.6
          stopped_velocity_tolerance: 0.05
          link_01__link_02: {trajectory: 0.1, goal: 0.1}
          link_02__link_03: {trajectory: 0.1, goal: 0.1}
          
      stop_trajectory_duration: 0.5
      state_publish_rate:  25
      action_monitor_rate: 10           
